@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

header h1{
    font-size: 60px;
}

.animation {
    height: 100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    position: relative;
    overflow: hidden;
}

.paper-plane {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}